

body{
    background: linear-gradient(to bottom,aqua,white 80%) ;
   background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: blue 4px 4px 4px;
    margin-left: 60px;
}
ul li{
   font-family: cursive;
   font-size: medium;
}